.sidebar-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:20%;
    background-color: rgb(19, 19, 32);
    height: auto;
}
.sidebar-logo{
    display: flex;
    font-size:xx-large;
    font-weight: 500;
    text-decoration: none;
    gap: 15px;
    color: white;
}
ul li{
   list-style-type: none;
   font-size: x-large;
   font-weight: 400;
   color: white;
}
.sidebar-item{
    margin: 20px;
}
ul li :hover {
    background-color: white;
    color: black;
    font-size: x-large;
    font-weight: 600;
    padding: 5px;
    i{
    color: black;
    }
}
ul li i{
margin-right: 10px;
}